/wp-admin

/wp-content/languages
/wp-content/plugins
/wp-content/upgrade
/wp-content/uploads

/wp-content/themes/hello-elementor
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwentythree
/wp-content/themes/twentytwentytwo

/wp-includes

/.htaccess
/index.php
/licence.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php